.searchbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchForm {
  width: 100%;
}

.input {
  display: block;
  border-radius: 45px;
  min-width: 350px;
  width: 100%;
  text-align: center;
  padding: 12px 0;
  font-size: 14px;
  box-shadow: none;
  border-color: #e96e50;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  color: #555;
  margin-bottom: 15px;
}

.input::placeholder {
  font-size: 14px;
}
.button {
  display: block;
  margin-bottom: 0;
  padding: 12px 24px;
  min-width: 350px;
  width: 100%;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-image: none;
  background-color: #c1593f;
  border-radius: 45px;
  border: 1px solid black transparent;
  transition: background-color .3s,
  border-color .3s;
}

.button:hover,
.button:focus {
  opacity: 1;
  background-color: #9e511a;
}

.buttonLabel {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  border: 1px;
}